<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    alt="Race Pulse Logo"
    src="../assets/racepulse_logo_white.png"
  />
  <div style="display: flex; gap: 20px">
    <a routerLink="analytics"> Analytics </a
    ><a routerLink="predictions"> Predictions </a>
  </div>
  <div class="spacer"></div>
  <button
    (click)="logout()"
    style="background: transparent; border: none; cursor: pointer"
  >
    <img
      src="../assets/logout.png"
      alt="logout"
      style="height: 20px; max-width: 100%"
    />
  </button>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <!-- <iframe
    id="racepulse"
    title="F1 dashboard (2)"
    width="100%"
    height="750"
    src="https://app.powerbi.com/reportEmbed?reportId=3a8d78f4-945c-4b89-b81f-8655141f6935&autoAuth=true&ctid=4a78f2c0-297f-426d-b09f-5986924d38e7"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  <iframe
    id="racepulse"
    title="F1 predictions"
    width="100%"
    height="750"
    [src]="localhost | safeUrl"
    frameborder="0"
    allowFullScreen="true"
  ></iframe> -->
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

